<h1>予定詳細</h1>

<div class="yoko"><h3><%= @post.title %></h3><h3 class="hen"><%= link_to '編集', edit_post_path(@post) %></h3></div>

<table>
  <tr>
    <th>開始日</th>
    <td><%= @post.start_date.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @post.end_date.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @post.all_day ? "◯" : "" %></td>
  </tr>
  <tr>
    <th>メモ</th>
    <td><%= @post.memo %></td>
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to "一覧に戻る", :posts %></li>
  </ul>
</div>